$color-preloader: #00abf2;
$color-text: #333333;
$color-text-secondary: #999999;
$color-text-contrast: #ffffff;
$color-bg: #ffffff;
$color-bg-secondary: #f0f0f0;
$color-bg-contrast: #333333;
$color-bg-secondary-disabled: rgba(240, 240, 240, 0.48);
$color-text-disabled: rgba(51, 51, 51, 0.48);
$color-error: #f51000;
$color-link: #0077cc;
$color-link-hover: #0072c4;

$x05: 2px;
$x1: 4px;
$x2: 8px;
$x15: 60px;
$x20: 80px;

$padding-base: 20px;

@mixin fontSize1() {
  font-size: 11px;
  line-height: 12px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
@mixin fontSize2() {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
@mixin fontSize3() {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
@mixin fontSize4() {
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
@mixin fontSize5() {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
@mixin fontSize6() {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
@mixin fontSize7() {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
@mixin fontSize8() {
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
@mixin fontH() {
  font-weight: 700;
  margin-bottom: 20px;
}
